[Unit]
Description=Logstash Probe
After=syslog.target

[Service]
SyslogIdentifier=probe
WorkingDirectory=/usr/share/logstash-probe
ExecStart=/usr/bin/nodejs /usr/share/logstash-probe/app.js
Restart=on-failure
StandardError=syslog
StandardOutput=null

[Install]
WantedBy=multi-user.target
